<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
          <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>
      </div>

      <ul class="nav nav-pills col-12 col-md-auto mb-2 justify-content-center mb-md-0 ">
        <li (click)="changeSelectedHeader('Home')" routerLink="" class="nav-item"><a  class="nav-link" [ngClass]="{active:selectedHeader=='Home'}">Home</a></li>
        <li (click)="changeSelectedHeader('Products')"><a routerLink="/product" class="nav-link px-2" [ngClass]="{active:selectedHeader=='Products'}" >Products</a></li>
        <li (click)="changeSelectedHeader('Register')"><a  routerLink="/register" class="nav-link px-2" [ngClass]="{active:selectedHeader=='Register'}">Register</a></li>
        <li (click)="changeSelectedHeader('FAQs')"><a href="#" class="nav-link px-2"  [ngClass]="{active:selectedHeader=='FAQs'}">FAQs</a></li>
        <li (click)="changeSelectedHeader('About')"><a href="#" class="nav-link px-2"  [ngClass]="{active:selectedHeader=='About'}">About</a></li>
      </ul>

      <div class="col-md-3 text-end">
        <button type="button" class="btn btn-outline-primary me-2">Login</button>
        <button type="button" class="btn btn-primary">Sign-up</button>
      </div>
    </header>
  </div>